.banks {
    flex: 1;

    .banks-add {
        display: flex;
        justify-content: end;
    }
    .title {
        margin: 20px;
        text-align: center;

        h1 {
            font-size: 24px;
        }
    }

    .bank {
        list-style: none;
        padding: 0;

        .bank-info {
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0 15px;

            .bank-id,
            .bank-password,
            .bank-routing_number,
            .bank-swift_bic {
                margin: 0;
                width: 550px;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }
    }
}
